@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #2F241D;
}

html,
body {
  /* @apply bg-white dark:bg-gray-950; */
  background-color: var(--background-primary);
	@apply tracking-tight;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
